<div class="bank-container">
    <img width="488px" height="311px" src="/img/bank_interface.webp">
    <span class="bank-spaces" th:text="${playerBank.slots.size}"></span>
    <ul class="bank-ul">
        <li th:each="item: ${playerBank.slots}">
            <a th:href="@{https://oldschool.runescape.wiki/w/__${item.urlName}__}" target="_blank" data-toggle="tooltip" data-placement="top" th:title="${item.name}">
                <img th:src="@{${item.icon}}" onError="this.onerror=null;this.src='/img/items/0.png';" width="36"/>
                <span th:if="${item.quantity != 1}" th:class="${item.quantity > 99999} ? thousand : (${item.quantity > 9999999} ? million : shrapnel)" th:text="${item.quantityFormatted}"></span>
            </a>
        </li>
    </ul>

    <script>
        /* needs to go somewhere, makes tooltips work */
        $(function () {
            $('[data-toggle="tooltip"]').tooltip({
                trigger : 'hover'
            })
        })
    </script>
</div>