<div class="equipment-container">
    <img width="204px" height="275px" src="/img/worn_equipment_tab.webp">
    <div th:class="${'equipment ' + slot}" th:if="${!playerEquipment.equipped.isEmpty}" th:each="slot: ${playerEquipment.equipped.keySet}">
        <img th:src="@{${playerEquipment.icons.get(playerEquipment.equipped.get(slot).keySet.iterator.next)}}" width="36"/>
        <span th:if="${playerEquipment.equipped.get(slot).values.iterator.next} > 1" th:text="${playerEquipment.equipped.get(slot).values.iterator.next}"></span>
    </div>
</div>