<div class="equipment-container">
    <img width="204px" height="275px" src="/img/worn_equipment_tab.webp">
    <div th:class="${'equipment ' + slot}" th:if="${!playerEquipment.equipped.isEmpty}" th:each="slot: ${playerEquipment.equipped.keySet}">
        <a th:href="@{https://oldschool.runescape.wiki/w/__${playerEquipment.equipped.get(slot).name}__}" target="_blank" data-toggle="tooltip" data-placement="top" th:title="${playerEquipment.equipped.get(slot).name}">
            <img th:src="@{${playerEquipment.equipped.get(slot).icon}}" width="36"/>
            <span th:if="${playerEquipment.equipped.get(slot).quantity} > 1" th:text="${playerEquipment.equipped.get(slot).quantity}"></span>
        </a>
    </div>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip({
                trigger : 'hover'
            })
        })
    </script>
</div>