<div th:id="${username.encoded + '-container'}">
    <div class="player-container">
        <div class="player-equipment">
            <fragment th:replace="~{./player/equipment}"></fragment>
        </div>
        <div class="player-inventory">
            <fragment th:replace="~{./player/inventory}"></fragment>
        </div>
        <div class="player-skills">
            <fragment th:replace="~{./player/skills}"></fragment>
        </div>
        <div class="player-quests">
            <fragment th:replace="~{./player/quests}"></fragment>
        </div>
        <div class="player-bank">
            <fragment th:replace="~{./player/bank}"></fragment>
        </div>
    </div>

    <div style="display: none">
        <fragment th:replace="~{./player/map-display}"></fragment>
    </div>
</div>