<div th:id="${information.usernameEncoded}" th:class="${loginState + ' player'}">
    <div class="player-header">
        <span th:text="${information.username + ' (level-' + information.combatLevel + ')'}"></span>
        <span th:if="${loginState == 'LOGGED_IN'}" class="badge badge-success">Online</span>
        <span th:if="${loginState != 'LOGGED_IN'}" class="badge badge-danger">Offline</span>
        <div class="locator" th:aria-username-sane="${information.usernameEncoded}" th:aria-username="${information.username}" aria-tx="0" aria-ty="0">🗺️</div>
    </div>

    <fragment th:replace="./player/equipment"></fragment>
    <fragment th:replace="./player/inventory"></fragment>
    <fragment th:replace="./player/stats"></fragment>
    <fragment th:replace="./player/quests"></fragment>
    <fragment th:replace="./player/bank"></fragment>
</div>

<!-- map sidebar label -->
<fragment th:replace="./player/map-sidebar"></fragment>
<!-- map position label -->
<fragment th:replace="./player/map-position"></fragment>