<div class="inventory-container">
    <img width="204px" height="275px" src="/img/inventory_tab.webp">
    <ul class="inventory-ul">
        <li th:each="item: ${playerInventory.slots}">
            <a th:if="${item.quantity} != 0" th:href="@{https://oldschool.runescape.wiki/w/__${item.name}__}" target="_blank">
                <img th:alt="${item.name}" th:src="@{${item.icon}}" width="32"/>
                <span th:if="${item.quantity > 1}" th:text="${item.quantity}"></span>
            </a>
        </li>
    </ul>
</div>