<div th:id="${'map-status-' + information.usernameEncoded}" th:class="${loginState + ' locator map-player-status-player'}" th:aria-username-sane="${information.usernameEncoded}" th:aria-username="${information.username}" aria-tx="0" aria-ty="0">
    <span th:text="${information.username + ' (level-' + information.combatLevel + ')'}"></span>
    <span th:if="${loginState == 'LOGGED_IN'}" class="badge badge-success">Online</span>
    <span th:if="${loginState != 'LOGGED_IN'}" class="badge badge-danger">Offline</span>

    <fragment th:replace="./player/status"></fragment>
</div>