<div class="skills-container">
    <img width="204px" height="275px" src="/data/ui/skills_tab.webp">
    <table th:if="${!skills.skills.isEmpty}" class="skill-table">
        <tr>
            <td class="skill-td" th:text="${skills.skills.ATTACK.level}" data-bs-toggle="tooltip" data-container=".skill-td" th:title="${skills.summary('ATTACK')}"></td>
            <td class="skill-td" th:text="${skills.skills.HITPOINTS.level}" data-bs-toggle="tooltip" data-container=".skill-td" th:title="${skills.summary('HITPOINTS')}"></td>
            <td class="skill-td" th:text="${skills.skills.MINING.level}" data-bs-toggle="tooltip" data-container=".skill-td" th:title="${skills.summary('MINING')}"></td>
        </tr>
        <tr>
            <td class="skill-td" th:text="${skills.skills.STRENGTH.level}" data-bs-toggle="tooltip" data-container=".skill-td" th:title="${skills.summary('STRENGTH')}"></td>
            <td class="skill-td" th:text="${skills.skills.AGILITY.level}" data-bs-toggle="tooltip" data-container=".skill-td" th:title="${skills.summary('AGILITY')}"></td>
            <td class="skill-td" th:text="${skills.skills.SMITHING.level}" data-bs-toggle="tooltip" data-container=".skill-td" th:title="${skills.summary('SMITHING')}"></td>
        </tr>
        <tr>
            <td class="skill-td" th:text="${skills.skills.DEFENCE.level}" data-bs-toggle="tooltip" data-container=".skill-td" th:title="${skills.summary('DEFENCE')}"></td>
            <td class="skill-td" th:text="${skills.skills.HERBLORE.level}" data-bs-toggle="tooltip" data-container=".skill-td" th:title="${skills.summary('HERBLORE')}"></td>
            <td class="skill-td" th:text="${skills.skills.FISHING.level}" data-bs-toggle="tooltip" data-container=".skill-td" th:title="${skills.summary('FISHING')}"></td>
        </tr>
        <tr>
            <td class="skill-td" th:text="${skills.skills.RANGED.level}" data-bs-toggle="tooltip" data-container=".skill-td" th:title="${skills.summary('RANGED')}"></td>
            <td class="skill-td" th:text="${skills.skills.THIEVING.level}" data-bs-toggle="tooltip" data-container=".skill-td" th:title="${skills.summary('THIEVING')}"></td>
            <td class="skill-td" th:text="${skills.skills.COOKING.level}" data-bs-toggle="tooltip" data-container=".skill-td" th:title="${skills.summary('COOKING')}"></td>
        </tr>
        <tr>
            <td class="skill-td" th:text="${skills.skills.PRAYER.level}" data-bs-toggle="tooltip" data-container=".skill-td" th:title="${skills.summary('PRAYER')}"></td>
            <td class="skill-td" th:text="${skills.skills.CRAFTING.level}" data-bs-toggle="tooltip" data-container=".skill-td" th:title="${skills.summary('CRAFTING')}"></td>
            <td class="skill-td" th:text="${skills.skills.FIREMAKING.level}" data-bs-toggle="tooltip" data-container=".skill-td" th:title="${skills.summary('FIREMAKING')}"></td>
        </tr>
        <tr>
            <td class="skill-td" th:text="${skills.skills.MAGIC.level}" data-bs-toggle="tooltip" data-container=".skill-td" th:title="${skills.summary('MAGIC')}"></td>
            <td class="skill-td" th:text="${skills.skills.FLETCHING.level}" data-bs-toggle="tooltip" data-container=".skill-td" th:title="${skills.summary('FLETCHING')}"></td>
            <td class="skill-td" th:text="${skills.skills.WOODCUTTING.level}" data-bs-toggle="tooltip" data-container=".skill-td" th:title="${skills.summary('WOODCUTTING')}"></td>
        </tr>
        <tr>
            <td class="skill-td" th:text="${skills.skills.RUNECRAFT.level}" data-bs-toggle="tooltip" data-container=".skill-td" th:title="${skills.summary('RUNECRAFT')}"></td>
            <td class="skill-td" th:text="${skills.skills.SLAYER.level}" data-bs-toggle="tooltip" data-container=".skill-td" th:title="${skills.summary('SLAYER')}"></td>
            <td class="skill-td" th:text="${skills.skills.FARMING.level}" data-bs-toggle="tooltip" data-container=".skill-td" th:title="${skills.summary('FARMING')}"></td>
        </tr>
        <tr>
            <td class="skill-td" th:text="${skills.skills.CONSTRUCTION.level}" data-bs-toggle="tooltip" data-container=".skill-td" th:title="${skills.summary('CONSTRUCTION')}"></td>
            <td class="skill-td" th:text="${skills.skills.HUNTER.level}" data-bs-toggle="tooltip" data-container=".skill-td" th:title="${skills.summary('HUNTER')}"></td>
            <td class="skill-td skill-total" th:text="${skills.totalLevel}"></td>
        </tr>
    </table>
</div>