<div class="stats-container">
    <img width="204px" height="275px" src="/img/skills_tab.webp">
    <table th:if="${!playerStats.stats.isEmpty}" class="stat-table">
        <tr>
            <td class="stat-td" th:text="${playerStats.stats.ATTACK.level}"></td>
            <td class="stat-td" th:text="${playerStats.stats.HITPOINTS.level}"></td>
            <td class="stat-td" th:text="${playerStats.stats.MINING.level}"></td>
        </tr>
        <tr>
            <td class="stat-td" th:text="${playerStats.stats.STRENGTH.level}"></td>
            <td class="stat-td" th:text="${playerStats.stats.AGILITY.level}"></td>
            <td class="stat-td" th:text="${playerStats.stats.SMITHING.level}"></td>
        </tr>
        <tr>
            <td class="stat-td" th:text="${playerStats.stats.DEFENCE.level}"></td>
            <td class="stat-td" th:text="${playerStats.stats.HERBLORE.level}"></td>
            <td class="stat-td" th:text="${playerStats.stats.FISHING.level}"></td>
        </tr>
        <tr>
            <td class="stat-td" th:text="${playerStats.stats.RANGED.level}"></td>
            <td class="stat-td" th:text="${playerStats.stats.THIEVING.level}"></td>
            <td class="stat-td" th:text="${playerStats.stats.COOKING.level}"></td>
        </tr>
        <tr>
            <td class="stat-td" th:text="${playerStats.stats.PRAYER.level}"></td>
            <td class="stat-td" th:text="${playerStats.stats.CRAFTING.level}"></td>
            <td class="stat-td" th:text="${playerStats.stats.FIREMAKING.level}"></td>
        </tr>
        <tr>
            <td class="stat-td" th:text="${playerStats.stats.MAGIC.level}"></td>
            <td class="stat-td" th:text="${playerStats.stats.FLETCHING.level}"></td>
            <td class="stat-td" th:text="${playerStats.stats.WOODCUTTING.level}"></td>
        </tr>
        <tr>
            <td class="stat-td" th:text="${playerStats.stats.RUNECRAFT.level}"></td>
            <td class="stat-td" th:text="${playerStats.stats.SLAYER.level}"></td>
            <td class="stat-td" th:text="${playerStats.stats.FARMING.level}"></td>
        </tr>
        <tr>
            <td class="stat-td" th:text="${playerStats.stats.CONSTRUCTION.level}"></td>
            <td class="stat-td" th:text="${playerStats.stats.HUNTER.level}"></td>
            <td class="stat-td stat-total" th:text="${playerStats.totalLevel}"></td>
        </tr>
    </table>
</div>