.sub-content {
    visibility: hidden;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 10000;
}

.content-header {
    width: 100%;
    padding: 10px;
    background-color: rgba(0,0,0,0.8);
    color: white;
    text-align: center;
}

.loot-tracker-ui, .xp-tracker-ui {
    background-color: rgba(0, 0, 0, 0.1);
}

#loot-tracker-exit-ui, #xp-tracker-exit-ui {
    padding: 0px!important;
    width: 35px;
    height: 25px;
    float: right;
}

#global-loot-tracker, #global-xp-tracker {
    width: 100%;
    height: 100vh;
    display: inline-flex;
    flex-direction: column;
    padding-right: 0px;
    box-sizing: content-box;
}

.experience-container, .monster-container {
    height: 100vh;
    padding: 5px;
    background-color: #222222CC;
    text-align: center;
}

.monster-container {
    align-items: baseline;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 220px);
    gap: 5px;
    grid-auto-rows: 86px;
    grid-auto-flow: dense;
    grid-auto-columns: auto;
    justify-content: center;
}

.skill-tracker {
    width: 220px;
    text-align: initial;
    display: inline-block;
    box-sizing: content-box;
    color: white;
    background-color: rgba(0,0,0,0.4);
    border-radius: 5px;
    margin: 2px;
}

.skill-header {
    position: relative;
    padding: 5px 5px 5px 10px;
    background: rgba(10, 10, 10, 0.3);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.skill-xp {
    position: relative;
    margin: 5px 10px 5px 10px;
    width: 211px;
}

.skill-level {
    position: absolute;
    margin-right: 5px;
    bottom: 0px;
    right: 5px;
}

.monster {
    width: 220px;
    text-align: initial;
    display: inline-block;
    box-sizing: content-box;
    color: white;
    background-color: rgba(0,0,0,0.4);
    border-radius: 5px;
    margin: 2px;
    grid-row: span var(--rows, 1);
}

.monster-header {
    position: relative;
    display: block;
    padding: 5px 5px 5px 10px;
    background: rgba(0,0,0,0.5);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.monster-header-kills {
    color: #aaaaaa;
}

.monster-header-ha {
    display: block;
}

.monster-loot {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    width: 211px;
}

.monster-loot-item {
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
    border: solid 1px #222222;
    margin: 1px;
    background: rgba(0,0,0,0.2);
    justify-content: flex-end;
    align-items: center;
}

.monster-loot-item span {
    position: absolute;
    top: -2px;
    left: 2px;
    color: #ffff00;
    font-size: 12px;
    text-shadow: 1px 1px 2px #000;
}