body {
    padding: 0;
    margin: 0;
}

a, a:link, a:hover, a:active, a:visited {
    all: unset!important;
    cursor: pointer!important;
}

li {
    position: relative;
    list-style-type: none;
}

canvas {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#followed-player, .player-position-label {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.canvas {
    display: block;
    width: 12544px;
    height: 1424px;
}

#map {
    position: relative;
    background-color: #50628E;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    max-height: 100vh;
}

.player-position {
    position: absolute;
    color: #ffff00;
    padding: 4px;
}

.player-position-label {
    background: rgba(0,0,0,0.8);
    padding: 8px;
    margin-left: 5px;
    border-radius: 10px;
}

#followed-player {
    position: absolute;
    background: rgba(0,0,0,0.8);
    bottom: 10px;
    left: 10px;
    padding: 10px;
    padding-top: 5px;
    line-height: 1em;
    color: #ffffff;
    border-radius: 5px;
}

.title-text {
    font-size: 10px;
}

.thousand {
    color: #ffffff!important;
}

.million {
    color: #00ff00!important;
}

/* PLAYER */

.player-status {
    padding: 10px;
    background-color: rgba(0,0,0,0.8);
    line-height: 1em;
}

.bank-container, .equipment-container, .inventory-container, .quests-container, .stats-container {
    position: relative;
    display: inline-flex;
}

.badge-success {
    color: #fff;
    background-color: #28a745;
}

.badge-danger {
    color: #fff;
    background-color: #dc3545;
}

.player {
    display: inline-block;
    width: 530px;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    padding: 0px 0px 20px 0px;
    margin: 10px;
    font-size: 14px;
    border-radius: 5px;
}

.player-header {
    position: relative;
    background-color: rgba(0,0,0,0.5);
    margin-bottom: 20px;
    padding: 10px;
    color: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.locator {
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 24px;
    cursor: pointer;
}

.tooltip > .tooltip-inner {
    background-color: #3B3226;
    border: solid;
    border-color: #575040;
    color: #F79420;
}

.tooltip-arrow {
    display: none !important;
}

/* UPDATE FEED */

.update-feed {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #ffff00;
}

.feed-item {
    background-color: rgba(59,50,38,0.8);
    padding: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 5px;
    width: fit-content;
    border: solid;
    border-radius: 5px;
    border-color: #575040;
}

.feed-player, .feed-skill {
    color: #ffff00;
}

.combat-monster, .combat-loot, .growth-text {
    color: #ffffff;
}

.loot-item {
    position: relative;
    display: inline-block;
}

.loot-item span {
    position: absolute;
    top: -5px;
    left: 0px;
    font-size: 12px;
    color: #ff0;
    text-shadow: 1px 0 #000;
}

/* BANK */

ul.bank-ul {
    position: absolute;
    top: 73px;
    left: 42px;
    width: 440px;
    height: 196px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    overflow-y: scroll;
    text-align: initial!important;
}

.bank-ul span {
    position: absolute;
    top: -5px;
    left: 0px;
    color: #ffff00;
    font-size: 12px;
    text-shadow: 1px 1px 2px #000;
}

.bank-ul li {
    display: inline-block;
    list-style-type: none;
    margin-top: 6px;
    width: 11%;
}

.bank-spaces {
    position: absolute;
    top: 5px;
    left: 10px;
    color: #ffff00;
    text-shadow: 1px 1px 2px #000;
}

/* EQUIPMENT */

.equipment {
    position: absolute;
}

.HEAD {
    top: 13px;
    left: 87px;
}

.AMMO {
    top: 58px;
    left: 123px;
}

.CAPE {
    top: 53px;
    left: 44px;
}

.AMULET {
    top: 53px;
    left: 87px;
}

.WEAPON {
    top: 92px;
    left: 31px;
}

.BODY {
    top: 92px;
    left: 87px;
}

.SHIELD {
    top: 92px;
    left: 143px;
}

.LEGS {
    top: 133px;
    left: 87px;
}

.GLOVES {
    top: 172px;
    left: 30px;
}

.RING {
    top: 172px;
    left: 142px;
}

.BOOTS {
    top: 172px;
    left: 86px;
}

.equipment span {
    position: absolute;
    top: -10px;
    left: 2px;
    color: #ffff00;
    font-size: 12px;
    text-shadow: 1px 1px 2px #000;
}

/* INVENTORY */

ul.inventory-ul {
    position: absolute;
    top: 13px;
    left: 24px;
    width: 185px;
    height: 275px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    text-align: initial!important;
}

.inventory-ul span {
    position: absolute;
    top: -5px;
    left: 0px;
    color: #ffff00;
    font-size: 12px;
    text-shadow: 1px 1px 2px #000;
}

.inventory-ul li {
    display: inline-block;
    list-style-type: none;
    margin-top: 3px;
    width: 20%;
}

/* QUESTS */

.quest-ul {
    position: absolute;
    top: 38px;
    left: 19px;
    overflow-y: scroll;
    width: 176px;
    height: 212px;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    text-align: initial!important;
}

.quest-points {
    position: absolute;
    top: 8px;
    left: 110px;
    color: #ffff00;
    text-shadow: 1px 1px 2px #000;
}

.NOT_STARTED {
    color: #ff0000;
}

.IN_PROGRESS {
    color: #ffff00;
}

.FINISHED {
    color: #00ff00;
}

/* STATS */

.stat-table {
    position: absolute;
    width: 185px;
    height: 258px;
    top: 5px;
    color: #ffff00;
    text-shadow: 1px 1px 2px #000;
}

.stat-td {
    height: 30px;
    width: 50px;
    text-align: right;
    padding-top: 5px;
}

.stat-total {
    position: relative;
    text-align: center;
    top: 5px;
    left: 10px;
}