#player-container {
    display: inline-flex;
    flex-direction: column;
    width: -webkit-fill-available;
    margin: 5px;
    min-height: 99vh;
}

.players {
    background-color: #888888;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

.player {
    position: relative;
    display: inline-block;
    width: 548px;
    text-align: center;
    background-color: rgba(0,0,0,0.4);
    padding: 0px 0px 20px 0px;
    margin: 2px;
    font-size: 14px;
    border-radius: 5px;
}

.player-header {
    position: relative;
    background-color: rgba(0,0,0,0.5);
    margin-bottom: 15px;
    padding: 10px;
    color: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.locator {
    cursor: pointer;
}

.player-header .locator {
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 24px;
}

.player-container {
    position: relative;
    width: 196px;
    height: 196px;
}

.player-map {
    position: relative;
    background-color: #50628E!important;
    margin: auto;
    width: 196px;
    height: 196px;
    overflow: hidden;
    border-radius: 98px;
    border: solid 3px #111111;
}

/* player status */

.player-current-state {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.hitpoints-container, .prayer-container {
    position: relative;
    margin-bottom: 3px;
    top: 63px;
    width: 60px;
    height: 25px;
}

.hitpoints-container {
    left: -30px;
}

.prayer-container {
    left: -30px;
}

.hitpoints-container .progress, .prayer-container .progress {
    position: relative;
    width: 100%;
    height: 25px;
    margin: auto;
}

.current-hitpoints, .current-prayer {
    position: absolute;
    width: 100%;
    line-height: 25px;
    text-shadow: 1px 1px 2px #000;
    color: #ffffff;
    margin-left: 10px;
}


.player-mini-username {
    position: absolute;
    width: 75%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
    justify-self: anchor-center;
}

.player-mini-login {
    position: absolute;
    bottom: 0px;
    text-align: center;
    justify-self: anchor-center;
}

.player-mini-combat {
    position: absolute;
    height: 25px;
    width: 60px;
    line-height:25px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    top: 35px;
    left: -20px;
}

.combat-level {
    position: absolute;
    display: inline-block;
    padding-left: 5px;
    font-size: 0.85em;
    vertical-align: middle;
    top: 0px;
}

.combat-icon, .hitpoints-icon, .prayer-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 16px;
    height: 16px;
}

.player-overheads {
    position: absolute;
    top: 120px;
    padding: 3px;
    left: -12px;
    width: 32px;
    height: 32px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.player-skulls {
    position: absolute;
    top: 150px;
    padding: 3px;
    left: 8px;
    width: 32px;
    height: 32px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.MELEE, .RANGED, .MAGIC, .REDEMPTION, .RETRIBUTION, .SMITE, .SKULL {
    display: none;
}

/* Style tab links */
.player-tabs {
    z-index: 1100;
    position: absolute;
    bottom: 2px;
    right: 2px;
}

.player-tabs button {
    width: 36px;
    height: 36px;
}

.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 5px;
}

.tablink:hover {
  background-color: #777;
}

.tabcontent {
    position: absolute;
    color: white;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
    display: none;
}

.lefttab {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.righttab {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
