body {
    padding: 0;
    margin: 0;
}

a, a:link, a:hover, a:active, a:visited {
    all: unset;
    cursor: pointer!important;
}

li {
    position: relative;
    list-style-type: none;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
}

.block {
    display: block;
}

.hidden {
    display: none!important;
}

.font16 {
    font-size: 16pt;
}

canvas {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.loading-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/data/rseye.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.loading-container {
    position: relative;
    display: flex;
    justify-content: center;
    top: 60%;
}

.loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #222222; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.content {
    display: none;
}

.map-ui {
    width: 100%;
    position: absolute;
    top: 5px;
    z-index: 1000;
    text-align: center;
}

.loot-tracker-exit-ui {
    margin-left: 10px;
}

/* MAP */

.leaflet-marker-icon {
    color: yellow!important;
}

.marker-name {
    display: flex;
    width: max-content;
    filter: drop-shadow(1px 1px 1px black);
}

#followed-player, .player-position {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#player-data, #followed-player-ui, #followed-player, #map-player-status, .update-feed {
    z-index: 1000;
}

#map {
    position: relative;
    background-color: #50628E;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    height: 100vh;
    max-height: 100vh;
}

#map-player-status {
    position: absolute;
    width: 300px;
    height: 715px;
    top: 10px;
    right: 0px;
    padding: 10px;
    padding-right: 0px;
    color: #ffffff;
    overflow: overlay;
}

.map-player-status-player {
    position: relative;
    padding: 15px;
    padding-left: 20px;
    background: rgba(0,0,0,0.1);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 5px;
    line-height: 1em;
}

/*.map-player-offline {
    filter: grayscale(1)opacity(0.5);
}*/

.map-equipment {
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
    border: solid 1px #222222;
    margin: 1px;
    background: rgba(0,0,0,0.4);
    justify-content: flex-end;
    align-items: center;
}

.map-equipment-container {
    z-index: 1000;
    position: relative;
    top: 524px;
    left: 4px;
    display: flex;
}

#map-plane-ui {
    position: absolute;
    height: 55px;
    width: 110px;
    text-align: center;
    bottom: 75px;
    left: 10px;
    padding-bottom: 5px;
    line-height: 50px;
    z-index: 1000;
    background: rgba(0,0,0,0.4);
    border: solid 1px #222222;
    border-radius: 5px;
}

.map-plane-btn {
    font-size: 2rem!important;
    padding: 0px!important;
    cursor: pointer;
}

#followed-player {
    position: absolute;
    background: rgba(0,0,0,0.8);
    bottom: 10px;
    left: 10px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 9px;
    line-height: 1em;
    color: #ffffff;
    border-radius: 5px;
}

#player-data {
    position: absolute;
    bottom: 10px;
    right: 0px;
    height: 275px;
    width: 230px;
}

#followed-player-ui {
    position: absolute;
    display: inline-flex;
    bottom: 280px;
    right: 10px;
    width: 238px;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#followed-player-ui .btn {
    position: relative;
    height: 35px;
    width: 50px;
    background: #5d5140;
    border: 2px solid #3C3121 !important;
    padding: 0px !important;
    line-height: 2.4 !important;
}

#followed-player-ui .btn img {
    position: absolute;
    height: 24px;
    width: 24px;
    top: 4px;
    right: 11px;
}

.ui-disabled {
    filter: grayscale(1) opacity(0.5);
    transition: all 1s;
}

.placeholder {
    filter: opacity(0.5);
    background-color: transparent;
    cursor: pointer;
}

.container-visible {
    background-color: #8b0000!important;
}

.player-position {
    position: absolute;
    color: #ffff00;
    margin-left: 4px;
    margin-top: 4px;
    border-radius: 5px;
}

.player-position .progress {
    width: 130px !important;
}

.hitpoints-container .progress {
    background-color: #dc354566;
}

.prayer-container .progress {
    background-color: #0dcaf066;
}

.player-position .hitpoints-container, .player-position .prayer-container {
    display: inline-block !important;
    margin-bottom: 0px !important;
}

.player-position .mb-2 {
    margin: 0!important;
}

.player-position-marker {
    position: absolute;
    width: 4px;
    height: 4px;
    margin: -4px;
    background-color: white;
    top: 0;
    left: 0;
    border-radius: 3px;
}

.player-position-information {
    width: 200px;
    height: 60px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    vertical-align: middle;
}

.player-position-image {
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 5px;
    background: rgba(0,0,0,0.8);
    border-radius: 5px;
}

.player-position-username {
    position: absolute;
    width: 250px;
    left: -95px;
    text-align: center;
}

.title-text {
    font-size: 10px;
}

.thousand {
    color: #ffffff!important;
}

.million {
    color: #00ff00!important;
}

.quest-complete {
    color: #32cd32!important;
}

.muted {
    font-size: .750em;
    color: rgba(255, 255, 255, 0.5);
}

/* PLAYER */
.player-status {
    padding: 10px;
    background-color: rgba(0,0,0,0.8);
    line-height: 1em;
    color: white;
    text-align: center;
}

.badge-success {
    color: #fff;
    background-color: #28a745;
}

.badge-danger {
    color: #fff;
    background-color: #dc3545;
}

.skill-td .tooltip {
    visibility: hidden;
    position: absolute;
    width: max-content;
    padding: 2px 6px 2px 6px;
    background-color: #3B3226EE !important;
    border: solid !important;
    border-color: #575040 !important;
    color: #F79420 !important;
    opacity: 1;
}

.skill-td:hover .tooltip {
    visibility: visible;
}

.tooltip-arrow {
    display: none !important;
}

/* BANK */

ul.bank-ul {
    position: absolute;
    top: 76px;
    left: 42px;
    width: 440px;
    height: 212px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    overflow-y: scroll;
    text-align: initial!important;
}

.bank-ul span {
    position: absolute;
    top: -5px;
    left: 0px;
    color: #ffff00;
    font-size: 12px;
    text-shadow: 1px 1px 2px #000;
}

.bank-ul li {
    display: inline-block;
    list-style-type: none;
    margin-top: 6px;
    width: 11%;
}

.bank-spaces {
    position: absolute;
    top: 5px;
    left: 10px;
    color: #ffff00;
    text-shadow: 1px 1px 2px #000;
}

.bank-input {
    position: absolute;
    top: 40px;
    left: 8px;
    width: 472px;
}

/* EQUIPMENT */

.equipment {
    position: absolute;
}

.equipment-background {
    position: absolute;
    z-index: 10;
}

.equipment-item-img {
    position: absolute;
    z-index: 11;
    top: 1px;
    left: 1px;
}

.HEAD {
    top: 12px;
    left: 84px;
}

.AMMO {
    top: 50px;
    left: 125px;
}

.CAPE {
    top: 50px;
    left: 43px;
}

.AMULET {
    top: 50px;
    left: 84px;
}

.WEAPON {
    top: 89px;
    left: 28px;
}

.BODY {
    top: 89px;
    left: 84px;
}

.SHIELD {
    top: 89px;
    left: 140px;
}

.LEGS {
    top: 129px;
    left: 84px;
}

.GLOVES {
    top: 169px;
    left: 28px;
}

.RING {
    top: 169px;
    left: 140px;
}

.BOOTS {
    top: 169px;
    left: 84px;
}

.equipment span {
    position: absolute;
    top: -2px;
    left: 3px;
    color: #ffff00;
    font-size: 12px;
    text-shadow: 1px 1px 2px #000;
    z-index: 100;
}

/* INVENTORY */

ul.inventory-ul {
    position: absolute;
    top: 13px;
    left: 24px;
    width: 185px;
    height: 275px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    text-align: initial!important;
}

.inventory-ul span {
    position: absolute;
    top: -5px;
    left: 0px;
    color: #ffff00;
    font-size: 12px;
    text-shadow: 1px 1px 2px #000;
}

.inventory-ul li {
    display: inline-block;
    list-style-type: none;
    margin-top: 3px;
    width: 20%;
}

/* QUESTS */

.quest-ul {
    position: absolute;
    top: 38px;
    left: 19px;
    overflow-y: scroll;
    width: 176px;
    height: 212px;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    text-align: initial!important;
}

.quest-points {
    position: absolute;
    top: 8px;
    left: 110px;
    color: #ffff00;
    text-shadow: 1px 1px 2px #000;
}

.NOT_STARTED {
    color: #ff0000;
}

.IN_PROGRESS {
    color: #ffff00;
}

.FINISHED {
    color: #00ff00;
}

/* SKILLS */

.skill-progress {
    position: absolute !important;
    width: 86% !important;
    height: 3px !important;
    bottom: 0px !important;
    right: 3px !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    border-radius: 0px !important;
}

.skill-progress .progress-bar {
    background-color: yellowgreen;
}

.skill-table {
    position: absolute;
    width: 190px;
    height: 258px;
    top: 8px;
    left: 6px;
    color: #ffff00;
    text-shadow: 1px 1px 2px #000;
}

.skill-td {
    position: relative;
    height: 30px;
    width: 45px;
    text-align: right;
    padding-bottom: 5px;
    padding-right: 10px;
    cursor: pointer !important;
}

.skill-total {
    position: relative;
    text-align: center;
    top: 6px;
    left: 5px;
    font-size: small;
}