body {
    padding: 0;
    margin: 0;
}

a, a:link, a:hover, a:active, a:visited {
    all: unset;
    cursor: pointer!important;
}

li {
    position: relative;
    list-style-type: none;
}

canvas {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.loading-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/data/rseye.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.loading-container {
    position: relative;
    display: flex;
    justify-content: center;
    top: 60%;
}

.loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #222222; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.content {
    display: none;
}

/* MAP */

.leaflet-marker-icon {
    color: yellow!important;
}

.player-map {
    background-color: #50628E;
    margin: auto;
    margin-bottom: 15px;
    width: 500px;
    height: 500px;
    overflow: hidden;
}

#followed-player, .player-position {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#followed-player-data, #followed-player-ui, #followed-player, #map-player-status, .update-feed {
    z-index: 1000;
}

#map {
    position: relative;
    background-color: #50628E;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    height: 100vh;
    max-height: 100vh;
}

#map-player-status {
    position: absolute;
    width: 400px;
    top: 10px;
    right: 0px;
    padding: 10px;
    padding-right: 0px;
    color: #ffffff;
}

.map-player-status-player {
    position: relative;
    padding: 15px;
    padding-left: 20px;
    background: rgba(0,0,0,0.75);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 5px;
    line-height: 1em;
}

.map-player-status-player .badge {
    margin-left: 10px;
}

.map-player-offline {
    filter: grayscale(1)opacity(0.5);
}

#followed-player {
    position: absolute;
    background: rgba(0,0,0,0.8);
    bottom: 10px;
    left: 10px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 1em;
    color: #ffffff;
    border-radius: 5px;
}

#followed-player-data {
    position: absolute;
    bottom: 54px;
    right: 20px;
}

#followed-player-ui {
    position: absolute;
    display: inline-flex;
    bottom: 10px;
    right: 20px;
}

#followed-player-ui .btn {
    height: 48px;
    width: 62px;
    background: #726451;
    border: 2px solid #3C3121!important;
}

.ui-disabled {
    filter: grayscale(1) opacity(0.5);
    transition: all 1s;
}

.placeholder {
    filter: opacity(0.5);
    background-color: transparent;
    cursor: pointer;
}

.container-visible {
    background-color: #8b0000!important;
}

.player-position {
    position: absolute;
    color: #ffff00;
    margin-left: 4px;
    margin-top: 4px;
    border-radius: 5px;
}

.player-position .progress {
    width: 130px !important;
}


.hitpoints-container .progress {
    background-color: #dc3545;
}

.prayer-container .progress {
    background-color: #004085;
}

.player-position .hitpoints-container, .player-position .prayer-container {
    display: inline-block !important;
    margin-bottom: 0px !important;
}

.player-position .mb-2 {
    margin: 0!important;
}

.player-position-marker {
    position: absolute;
    width: 4px;
    height: 4px;
    margin: -4px;
    background-color: white;
    top: 0;
    left: 0;
    border-radius: 3px;
}

.player-position-information {
    width: 200px;
    height: 60px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    vertical-align: middle;
}

.player-position-image {
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 5px;
    background: rgba(0,0,0,0.8);
    border-radius: 5px;
}

.player-position-username {
    position: absolute;
    width: 250px;
    left: -95px;
    text-align: center;
}

.player-overheads {
    position: absolute;
    top: 2px;
    padding: 8px;
    left: -48px;
    width: 42px;
    height: 42px;
    border-radius: 30px;
    background: rgba(0,0,0,0.7);
}

.player-skulls {
    position: absolute;
    top: 48px;
    padding: 8px;
    left: -48px;
    width: 42px;
    height: 42px;
    border-radius: 30px;
    background: rgba(0,0,0,0.7);
}

.MELEE, .RANGED, .MAGIC, .REDEMPTION, .RETRIBUTION, .SMITE, .SKULL {
    display: none;
}

.title-text {
    font-size: 10px;
}

.thousand {
    color: #ffffff!important;
}

.million {
    color: #00ff00!important;
}

.quest-complete {
    color: #32cd32!important;
}

/* PLAYER */

.player-data {
    display: contents;
}

.player-status {
    padding: 10px;
    background-color: rgba(0,0,0,0.8);
    line-height: 1em;
}

.bank-container, .equipment-container, .inventory-container, .quests-container, .stats-container {
    position: relative;
    display: inline-flex;
}

.badge-success {
    color: #fff;
    background-color: #28a745;
}

.badge-danger {
    color: #fff;
    background-color: #dc3545;
}

.player {
    display: inline-block;
    width: 530px;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    padding: 0px 0px 20px 0px;
    margin: 10px;
    font-size: 14px;
    border-radius: 5px;
}

.player-header {
    position: relative;
    background-color: rgba(0,0,0,0.5);
    margin-bottom: 15px;
    padding: 10px;
    color: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.locator {
    cursor: pointer;
}

.player-header .locator {
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 24px;
}

.tooltip > .tooltip-inner {
    background-color: #3B3226;
    border: solid;
    border-color: #575040;
    color: #F79420;
}

.tooltip-arrow {
    display: none !important;
}

.hitpoints-container, .prayer-container {
    width: 50%;
    padding-right: 2px;
    padding-left: 2px;
}

.hitpoints-container .progress, .prayer-container .progress {
    position: relative;
    width: 100%;
    height: 30px;
    margin: auto;
}

.current-hitpoints, .current-prayer {
    position: absolute;
    width: 100%;
    line-height: 30px;
    text-shadow: 1px 1px 2px #000;
    text-align: center;
    color: #ffffff;
}

.player-current-state {
    margin-top: 10px;
    width: 90%;
    display: inline-flex;
}

/* BANK */

ul.bank-ul {
    position: absolute;
    top: 76px;
    left: 42px;
    width: 440px;
    height: 212px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    overflow-y: scroll;
    text-align: initial!important;
}

.bank-ul span {
    position: absolute;
    top: -5px;
    left: 0px;
    color: #ffff00;
    font-size: 12px;
    text-shadow: 1px 1px 2px #000;
}

.bank-ul li {
    display: inline-block;
    list-style-type: none;
    margin-top: 6px;
    width: 11%;
}

.bank-spaces {
    position: absolute;
    top: 5px;
    left: 10px;
    color: #ffff00;
    text-shadow: 1px 1px 2px #000;
}

.bank-input {
    position: absolute;
    top: 40px;
    left: 8px;
    width: 472px;
}

/* EQUIPMENT */

.equipment {
    position: absolute;
}

.HEAD {
    top: 13px;
    left: 87px;
}

.AMMO {
    top: 58px;
    left: 123px;
}

.CAPE {
    top: 53px;
    left: 44px;
}

.AMULET {
    top: 53px;
    left: 87px;
}

.WEAPON {
    top: 92px;
    left: 31px;
}

.BODY {
    top: 92px;
    left: 87px;
}

.SHIELD {
    top: 92px;
    left: 143px;
}

.LEGS {
    top: 133px;
    left: 87px;
}

.GLOVES {
    top: 172px;
    left: 30px;
}

.RING {
    top: 172px;
    left: 142px;
}

.BOOTS {
    top: 172px;
    left: 86px;
}

.equipment span {
    position: absolute;
    top: -10px;
    left: 2px;
    color: #ffff00;
    font-size: 12px;
    text-shadow: 1px 1px 2px #000;
}

/* INVENTORY */

ul.inventory-ul {
    position: absolute;
    top: 13px;
    left: 24px;
    width: 185px;
    height: 275px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    text-align: initial!important;
}

.inventory-ul span {
    position: absolute;
    top: -5px;
    left: 0px;
    color: #ffff00;
    font-size: 12px;
    text-shadow: 1px 1px 2px #000;
}

.inventory-ul li {
    display: inline-block;
    list-style-type: none;
    margin-top: 3px;
    width: 20%;
}

/* QUESTS */

.quest-ul {
    position: absolute;
    top: 38px;
    left: 19px;
    overflow-y: scroll;
    width: 176px;
    height: 212px;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    text-align: initial!important;
}

.quest-points {
    position: absolute;
    top: 8px;
    left: 110px;
    color: #ffff00;
    text-shadow: 1px 1px 2px #000;
}

.NOT_STARTED {
    color: #ff0000;
}

.IN_PROGRESS {
    color: #ffff00;
}

.FINISHED {
    color: #00ff00;
}

/* STATS */

.stat-table {
    position: absolute;
    width: 185px;
    height: 258px;
    top: 5px;
    color: #ffff00;
    text-shadow: 1px 1px 2px #000;
}

.stat-td {
    height: 30px;
    width: 50px;
    text-align: right;
    padding-top: 5px;
}

.stat-total {
    position: relative;
    text-align: center;
    top: 5px;
    left: 10px;
}