.update-feed {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5px;
    left: 5px;
    color: #ffff00;
    max-height: 1080px;
    overflow: hidden;
}

.feed-item {
    min-height: 150px;
    background-color: rgba(59,50,38,0.8);
    padding: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    width: fit-content;
    border: solid;
    border-radius: 5px;
    border-color: #575040;
}

.growth, .quest {
    min-height: 0px;!important
}

.feed-player, .feed-skill {
    color: #ffff00;
}

.combat-monster, .growth-text, .quest-text {
    color: #ffffff;
}

.xp-drop {
    z-index: 1000;
    position: absolute;
    width: 100px;
    left: 0px;
    top: -35px;
    color: #ffffff;
    text-align: left;
    line-height: 20px;
}

.xp-drop span {
    vertical-align: middle;
}

.xp-drop-icon {
    margin-right: 5px;
    width: 18px!important;
    height: 18px!important;
}
.combat {
    padding: 0px!important;
    padding-bottom: 0px!important;
    padding-top: 0px!important;
}

.combat-feed-title {
    display: block;
    color: #ffffff;
    background: rgba(0,0,0,0.2);
    padding: 2px;
    padding-left: 5px;
    font-size: small;
}

.combat-combatants {
    margin: 10px;
}

.combat-loot {
    display: block;
    margin: 10px;
    color: #ffffff;
}

.loot-item {
    position: relative;
    display: inline-flex;
    width: 40px;
    height: 40px;
    border: solid 1px;
    border-color: #222222;
    margin: 1px;
    background: rgba(0,0,0,0.2);
    justify-content: flex-end;
    align-items: center;
}

.loot-item span {
    position: absolute;
    top: -2px;
    left: 2px;
    font-size: 12px;
    color: #ff0;
    text-shadow: 1px 0 #000;
}