<title>rseye</title>
<meta name="description" content="">
<meta name="author" content="Joshua Hunt">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<link href="/favicon.ico" rel="icon" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/rseye.css" />
<link rel="stylesheet" type="text/css" href="/css/update-feed.css" />
<link rel="stylesheet" type="text/css" href="/css/loot-tracker.css" />
<link rel="stylesheet" type="text/css" href="/css/player-widget.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css" integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin=""/>
<script defer src="/js/jquery-3.6.0.min.js"></script>
<script defer src="/js/bootstrap.bundle.min.js"></script>
<script defer src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js" integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=" crossorigin=""></script>
<script defer src="/js/rseye-ws.js"></script>
<script defer src="/js/rseye-map.js"></script>
<script defer src="/js/rseye.js"></script>