<title>rseye</title>
<meta charset="UTF-8">
<meta name="description" content="">
<meta name="author" content="Joshua Hunt">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/favicon.ico" rel="icon" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/rseye.css" />
<link rel="stylesheet" type="text/css" href="/css/update-feed.css" />
<link rel="stylesheet" type="text/css" href="/css/loot-tracker.css" />
<link rel="stylesheet" type="text/css" href="/css/player-widget.css" />
<link rel="stylesheet" type="text/css" href="/css/leaflet.css"/>
<script defer src="/js/jquery-3.6.0.min.js"></script>
<script defer src="/js/bootstrap.bundle.min.js"></script>
<script defer src="/js/leaflet.js"></script>
<script defer src="/js/leaflet.edgebuffer.js"></script>
<script defer src="/js/rseye-map.js"></script>
<script defer src="/js/rseye-ws.js"></script>
<script defer src="/js/rseye.js"></script>