<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <fragment th:replace="~{head}"></fragment>
</head>
<body>
    <div class="loading-screen">
        <div class="loading-container">
            <div class="loader"></div>
        </div>
    </div>

    <div class="content">
        <div id="map"></div>

        <div id="map-overlay">
            <div class="update-feed"></div>

            <div id="map-player-status">
                <div class="map-player-online"></div>
                <div class="map-player-offline"></div>
            </div>

            <div id="followed-player">
                <span class='title-text'>NOT FOLLOWING</span>
            </div>

            <div id="map-plane-ui">
                <span id="map-plane-up" class="map-plane-btn">⬆️</span>
                <span id="map-plane-down" class="map-plane-btn">⬇️</span>
            </div>

            <div id="followed-player-data"></div>

            <div id="followed-player-ui" class="ui-disabled">
                <div id="skills-button" class="btn ui-button" aria-container=".skills-container">
                    <img src="/data/icons/skills_icon.webp" height="32"/>
                </div>
                <div id="quests-button" class="btn ui-button" aria-container=".quests-container">
                    <img src="/data/icons/quests_icon.webp" height="32"/>
                </div>
                <div id="inventory-button" class="btn ui-button" aria-container=".inventory-container">
                    <img src="/data/icons/inventory_icon.webp" height="32"/>
                </div>
                <div id="equipment-button" class="btn ui-button" aria-container=".equipment-container">
                    <img src="/data/icons/equipment_icon.webp" height="32"/>
                </div>
                <div id="bank-button" class="btn ui-button" aria-container=".bank-container">
                    <img src="/data/icons/bank_icon.webp" height="32"/>
                </div>
            </div>
        </div>


        <div class="sub-content">
            <div id="global-loot-tracker">
                <fragment th:replace="~{./global/loot-tracker}"></fragment>
            </div>

            <div id="player-container">
                <div class="content-header">Players</div>
                <div class="players">
                    <div class="player-data player-online"></div>
                    <div class="player-data player-offline"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>