<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <fragment th:replace="head"></fragment>
</head>
<body>
    <div class="loading-screen">
        <div class="loading-container">
            <div class="loader"></div>
        </div>
    </div>

    <div class="content">
        <div id="map">
            <div id="canvas-controller">
                <div id="canvas-container" class="canvas-container text-center">
                    <canvas th:class="${'canvas c'+num}" th:each="num: ${#numbers.sequence(0,31)}"></canvas>
                </div>
            </div>
            <div class="update-feed"></div>
            <div id="map-player-status">
                <div class="map-player-online"></div>
                <div class="map-player-offline"></div>
            </div>
            <div id="followed-player">
                <span class='title-text'>NOT FOLLOWING</span>
            </div>
            <div id="followed-player-data"></div>
            <div id="followed-player-ui" class="ui-disabled">
                <div id="stats-button" class="btn ui-button" aria-container=".stats-container">
                    <img src="/img/icons/stats_icon.webp" height="32"/>
                </div>
                <div id="quests-button" class="btn ui-button" aria-container=".quests-container">
                    <img src="/img/icons/quests_icon.webp" height="32"/>
                </div>
                <div id="inventory-button" class="btn ui-button" aria-container=".inventory-container">
                    <img src="/img/icons/inventory_icon.webp" height="32"/>
                </div>
                <div id="equipment-button" class="btn ui-button" aria-container=".equipment-container">
                    <img src="/img/icons/equipment_icon.webp" height="32"/>
                </div>
                <div id="bank-button" class="btn ui-button" aria-container=".bank-container">
                    <img src="/img/icons/bank_icon.webp" height="32"/>
                </div>
            </div>
        </div>

        <div class="player-status"></div>
        <div class="player-data player-online"></div>
        <div class="player-data player-offline"></div>
    </div>
</body>
</html>