<div class="feed-item combat">
    <span class="combat-feed-title" th:text="${raid.raid}"></span>
    <div class="combat-combatants">
        <span class="feed-player" th:text="${raid.player.username.natural + ' (level-' + raid.player.combatLevel + ')'}"></span>
    </div>

    <span class="combat-feed-title">Loot <span th:if="${raid.lootHighAlchValue() != '0'}" class="muted" th:text="${'HA: ' + raid.lootHighAlchValue()}"></span></span>
    <span th:if="${raid.loot.size > 0}" class="combat-loot">
        <a th:if="${item.quantity} != 0" th:href="@{https://oldschool.runescape.wiki/w/__${item.nameEncoded}__}" target="_blank" data-toggle="tooltip" data-placement="top" data-container=".feed-item" th:title="${item.name}" th:each="item: ${raid.loot}">
            <div class="loot-item">
                <img th:src="@{${item.icon}}" onError="this.onerror=null;this.src='/data/items/0.png';" width="36"/>
                <span th:if="${item.quantity > 1}" th:text="${item.quantity}"></span>
            </div>
        </a>
    </span>
</div>